* {
  margin: 0;
  padding: 0;
}

.about-me-main {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-square {
  width: 80%;
  height: 80%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-radius: 0.75%;
}

.box-text {
  margin: 1cm;
  color: white;
}

.about-me-h1 {
  align-self: center;
}
