.about-me-main {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-square {
  width: 80%;
  height: 550px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  border-radius: 0.75%;
  margin-top: 90px;
  margin-bottom: 70px;
  /* box-shadow: 0px 1px 10px 1px black; */
}

.upper-container {
  height: 95px;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  transform: translate(0px, 30px);
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  border-width: 5px;
  /* box-shadow: 0px 1px 20px 1px black; */
}

/* .profile-image {
  margin-top: 29px;
  width: 80px;
  height: 45px;
} */

.profile-letters {
  margin-top: 20px;
  font-size: 50px;
  font-weight: 400;
}

.lower-text {
  color: white;
  margin: 40px;
  text-align: center;
}

.lower-text h1 {
  /* text-align: center; */
  font-size: 40px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}
.lower-text h2 {
  /* text-align: center; */
  font-size: 25px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5px;
  margin-bottom: 30px;
  font-weight: 200;
}
.lower-text h3 {
  /* text-align: center; */
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
}

.lower-text li {
  list-style: none;
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
  font-weight: 200;
}

.profile-button {
  background-color: white;
  height: 40px;
  width: 100px;
  margin: auto;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  box-shadow: 0px 1px 20px 1px black;
}

.profile-button > img {
  /* text-decoration: none;
  color: black;
  font-size: 15px; */
  text-align: center;
}

#github-img {
  height: 1.5cm;
  width: 1.5cm;
}

#email-img {
  height: 0.7cm;
}

.buttons-container {
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 1cm;
}
