.button {
  background-color: rgba(23, 26, 32, 0.8);
  height: 40px;
  width: 256px;
  margin: 8px;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 100px;
  opacity: 0.85;
  justify-content: center;
}

.button > a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-align: center;
}

.button-white {
  background-color: white;
  height: 40px;
  width: 256px;
  margin: 8px;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 100px;
  opacity: 0.65;
  justify-content: center;
}

.button-white > a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  text-align: center;
}
