.navbar-container {
  display: flex;
  background-color: transparent;
  background: none;
  position: fixed;
  width: 100vw;
  top: 0;
  margin: 15px;
  margin-top: 15px;
  z-index: 100;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#navbar-logo-image {
  height: 40px;
  margin-top: 0px;
}

.navbar-links-center {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 2cm;
}

.navbar-links-center > p {
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

/* .navbar-links-right {
  display: flex;
  justify-content: flex-end;
}

.navbar-links-right > p {
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
} */
