/*vvv Uncomment for snap-scroll vvv*/
/* .item-cards-container {
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100vh;
} */

/* hide scrollbars vvv  */
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/* better for mobile view but adds scrolling problem vvv */
/* html,
body {
  width: 100%;
  overflow-x: hidden;
} */
