/* Uncomment for snap-scroll*/
/* .item-cards-container {
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100vh;
} */

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/* html,
body {
  width: 100%;
  overflow-x: hidden;
} */
